<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= farms.name %></title>
</head>
<body>
    <h1> <%= farms.name %></h1>
    <ul>
        <li>City : <%= farms.city %></li>
        <li>Email : <%= farms.email %></li>
    </ul>
    <h2>Products</h2>
    <ul>
        
        <% for(let product of farms.products){ %>
            <li><a href="/products/<%= product._id %>"><%= product.name %></a></li>
        <% } %>
    </ul>

    <a href="/farms">back to All farm list</a><br>
    <a href="/farms/<%= farms._id %>/products/new">Add new Product</a>
    <form action="/farms/<%= farms._id %>?_method=DELETE" method="post">
        <button>DELETE</button>
    </form>

</body>
</html>