<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= products.name %></title>
</head>
<body>
    <h2> <%= products.name %></h2>
    <ul>
        <li>price : <%= products.price %></li>
        <li>category : <a href="/products?category=<%= products.category %>"><%= products.category %></a></li>
        <li>farm : <a href="/farms/<%= products.farms._id %>"><%= products.farms.name%></a></li>
    </ul>

    <a href="/products">back to list</a>
    <a href="/products/<%= products._id %>/edit">edit</a>

    <form action="/products/<%= products._id %>?_method=DELETE" method="post">
        <button>DELETE</button>
    </form>

</body>
</html>